<p id="notice"><%= notice %></p>

<h1>Welcome to the us kids' online chat website!</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Said</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    
    <%= link_to 'Have something to say?', new_blog_path %>
    
    <%= render @blogs %>
  </tbody>
</table>

<br>

<%= link_to 'Have something to say?', new_blog_path %>
