<div clas="form-group nested-fields">
  <%= technology_form.label :name %>
  <%= technology_form.text_field :name, class: 'form-control' %>
  <%= link_to_remove_association 'Remove Technology', f %>
</div>