<h1>About</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "https://i.ytimg.com/vi/D2Op7NPq7Ms/maxresdefault.jpg", width: 300, alt: "profile image" %>
  </div>
  
  <div class="col-md-8">
    <p>I am just a random person that doesn't know what they're doing exactly with this, but it's something</p>
  </div>
</div>
  

