<h1>What contacts page would be</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <div class="alignments">
      <h3>Random Address</h3>
      
      <p>Bear Lake, Utah/Idaho</p>
      
      <h3>Random Phone Number</h3>
      
      <p><%= number_to_phone "3644645446" %> #notmyphonenumber#idkwhosenumberthisis</p>
    
    <div class="col-md-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d189807.67207309036!2d-111.47217273591207!3d41.98428705211321!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x875410d7d78ba287%3A0x727136c52a59bb2a!2sBear+Lake!5e0!3m2!1sen!2sus!4v1499879916618" width="400" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>